.navbar2 {
  background-color: var(--light-blue) !important;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-toggler.collapsed {
  position: absolute;
  border: none;
  filter: invert(1);
}

.navbar-toggler {
  position: absolute;
  border: none;
  /* position: absolute; */
  top: 19px;

  filter: invert(1);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.cartModall > .modalFixedBg > div {
  width: 100%;
}

.cartModall > .modalFixedBg > div > .modalContainer {
  background: transparent;
}

.carticonn:hover {
  cursor: pointer;

}

.modalClose:hover {
  cursor: pointer;
}