.app {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
}

.details {
  display: flex;
  justify-content: unset;
  flex-wrap: wrap;
  padding: 22px 0;
}

.details .big-img {
  width: 375px;
  height: 375px;
  border: 1px solid grey;
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 25px;
  margin-left: 5px;
  margin-right: unset;
}

.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: contain;
}

.details .box {
  max-width: 500px;
  margin: 25px;
  margin-right: 0;
  margin-left: 0;
}

.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box .row span {
  color: crimson;
}

.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}

.box p {
  line-height: 1.5;
  margin: 15px 0;
}

.thumb {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.thumb img {
  width: 53px;
  height: 53px;
  display: block;
  object-fit: cover;
  margin-right: 5px;
  opacity: 0.7;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-bottom: 8px;
}

.thumb img.active {
  opacity: 1;
  border: 1px solid #00a4ff;
}

.box .cart {
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}

@media (max-width: 500px) {
  .thumb {
    height: 50px;
    flex-direction: row;
  }
  .thumb img {
    width: 50px;
  }
}
